@model WebApplication.Models.Customer

@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Layout/MasterPage.cshtml";
}
@if (Session["ForgetPass"] == null)
{
    <label>404</label>
}
else
{
    <h2>ForgetPassword</h2>
    <div class="registration">
        <div class="registration_left">
            <div class="registration_form">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div>
                        <label>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </label>
                    </div>
                    <div>
                        <label>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Email", type = "text" } })
                        </label>
                    </div>
                    <div>
                        <input type="submit" value="Xác nhận" id="register-submit">
                    </div>
                }
            </div>
        </div>
    </div>

}
