
@{
    ViewBag.Title = "ForgetPasswordStep2";
    Layout = "~/Views/Layout/MasterPage.cshtml";
}

<h2>ForgetPasswordStep2</h2>
Check mail !
<br />
@Html.ActionLink("Trang chủ", "Index", "Home")
