@{
    ViewBag.Title = "ForgetPasswordStep2";
    Layout = "~/Views/Layout/MasterPage.cshtml";
}


@if (Session["ForgetPass"] != null)
{
    <h2>ForgetPasswordStep2</h2>
    <label>Check mail !</label>
    <br />
    @Html.ActionLink("Trang chủ", "Index", "Home")
}
else
{
    <label>404</label>
}


