@using WebApplication.Models
@model List<Manufacturer>
<div class="megapanel">
    <div class="row">
        <div class="col1">
            <div class="h_nav">
                <h4>Hãng điện thoại</h4>
                <ul>
                    @foreach (var _item in Model)
                    {
                        <li>
                            <a href="@Url.Action("ProductsByManufacturerId", "Manufacturers", new { @_manuId = _item.Id })">
                                @_item.Name
                            </a>
                        </li>
                    }
                </ul>
            </div>	
        </div>
    </div>
</div>

