@using WebApplication.Models
@model List<ShoppingCart>

@foreach (var _item in Model)
{
    if (_item == null)
    {
        <li>Không có sản phẩm nào !</li>
    }
    else
    {
        <li>
            @_item.Name (@_item.Quantity) - @String.Format("{0:0,0 ₫}", @_item.Price)
        </li>
    }
}
