@model WebApplication.Models.Customer
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Layout/MasterPage.cshtml";
}

<h2>ChangePassword</h2>
<div class="registration">
    <div class="registration_left">
        <h2>Edit</h2>
        <div class="registration_form">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                <div>
                    <label>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { type = "password", placeholder = "" } })
                    </label>
                </div>
                <div>
                    <input type="submit" value="Lưu" id="register-submit">
                </div>

            }
        </div>
    </div>
</div>
