@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Layout/MasterPage.cshtml";
}
@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Trang chủ", "Index", "Home")
}
else
{
    using (Html.BeginForm("Login", "Users", FormMethod.Post))
    {
        <div class="registration_left">
            <div class="registration_form">
                <div>
                    <label>
                        <input type="text" name="txtUsername" placeholder="Username" />
                    </label>
                </div>
                <div>
                    <label>
                        <input type="password" name="txtPassword" placeholder="Password" />
                    </label>
                </div>
                <div>
                    <input type="submit" value="Đăng nhập" id="register-submit">
                </div>
                <label for="checkbox"><input type="checkbox" name="chkRemember" id="chkRemember" value="true" @(Request.Form["chkRemember"] == "true" ? " checked" : "")> <i>Remember me</i></label>
                <div class="forget">
                    <a href="@Url.Action("ForgetPassword", "Customers")">Quên mật khẩu ?</a>
                </div>
            </div>
        </div>
        <div class="registration_left">
            <div class="registration_form">
                <section class="sky-form">
                    <label class="radio-inline"><input type="radio" name="checkUser" value="customer" checked="checked" />Khách hàng</label>
                    <label class="radio-inline"><input type="radio" name="checkUser" value="staff" />Nhân viên</label>
                </section>
            </div>
        </div>
    }
}


